html{
   
    width: 100%;
    background-image: url('https://images.alphacoders.com/690/thumb-1920-690146.jpg');
    background-size: cover;
}

body{
    padding-top: 2em;
    width: 50%;
    height: 60%;
    margin: 0 auto;
    background-color: turquoise;
    min-height: 750px;
    padding-bottom: 1em;
    text-align: center;
    margin-top: 0.5em;
}

a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    text-shadow: gray 1px 1px;
}

b {
    font-style: italic;
    font-size: 1em;
}

h2{
    font-size: 2.5em;
}

li{
    font-size: 2em;
}

.home{
    font-size: 3.5em;
    text-shadow: gray 1px 1px;
}

h3{
    font-size: 1.75em;
}